<div id="container">
  <h1 id="title">{{title}}</h1>
  <app-title-img></app-title-img>
  <h2>Информация</h2>
  <div id="globalInfo">
    <p>Автор:</p>
    <app-author></app-author>
    <p>Название: {{title}}</p>
    <p>Год издания: {{year}}</p>
    <p>Количество страниц: {{pages}}</p>
    <p>Издательство: "{{edition}}"</p>
    <p>Рецензии:</p>
    <ul *ngFor = 'let item of reviews'>
      <li>{{item.review}}</li>
    </ul>
  </div>
</div>




<!-- Проект должен быть реализован
в виде SPA. Обязательно отображать информацию о книге:
название, год издания, автор, количество страниц, издатель-
ство, обложка, фотография автора, рецензии. Необходимо при
создании приложения использовать компоненты, шаблоны,
директивы, привязку данных, pipes, сервисы. -->